.wrs_logo{
	background-image: url(../uploads/<?php echo "$WRS_logo"; ?>) !important;
}
td{
	color: black;
	background: white;
	border-color: black !important;
}
td a{
	color: white;
	transition: 0.2s ease;
}
.alert {
    padding: 15px;
    background-color: #00c908;
    color: white;
    text-align: center;
    position: fixed;
	top: -85px;
	right: 10px;
    width: 300px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: go_down 6s;
}

@keyframes go_down {
	0%{
		top: -85px;
	}
	25%{
		top: 7px;
	}
	75%{
		top: 7px;
	}
	100%{
		top: -85px;
	}
}

.dashboard-wrapper{
	height: 80vh;
}
.dashboard-content{
	width: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 0rem;
    border: none;
    border-radius: 5px;
    background: transparent !important;
}
#searchInput {
    margin-bottom: 0px;
}
form button{
    background: black;
    padding: 5px 13px;
    transform: translateX(-2px);
    border-radius: 3px;
}
form button i{
    font-size: 20px;
    color: white;
}
.sect1{
	margin-top: 2rem;
}
h3, label{
	margin: 0;
}
.input--group{
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-left: 0.5rem;
}
.input--group label{
	font-size: 1.1rem;
	font-family: sans-serif;
}
.table-content p{
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0;
	padding: 1rem 0;
	background: black;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 99; /* On top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal content box */
.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Width adjustment */
}

/* Close button */
.close, .edit_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
}

.close:hover,
.close:focus,
.edit_close:hover,
.edit_close:focus {
    color: black;
    cursor: pointer;
}

/* Simple form styling */
.modal form {
    display: flex;
    flex-direction: column;
}

.modal-form input[type="text"], .modal-form input[type="email"] {
    padding: 0 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.modal-form input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-form input[type="submit"]:hover {
    background-color: #45a049;
}
.submit-btn{
	margin-top: 1.3rem;
}
.label{
	margin: 0;
}
.input-group{
	margin: 1rem 0px;
}
.modal-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* For QR Code */
.modal-content .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}
.modal-content .container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
.modal-content .container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}
#qrcode {
    margin-bottom: 20px;
}
#save-btn, .return-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#save-btn:hover, .return-btn:hover{
    background-color: #0056b3;
}